{% extends "base.html" %}
{% block title %}{{realm_name}} blood values{% endblock title %}
{% block head %}
    {{ super() }}
    <style>
    .price-table {
      display: flex;
    }
    .item-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
    }
    .vendor-item-cell {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      white-space: nowrap;
      margin-bottom: 15px;
      margin-right: 10px;
    }
    .vendor-item-cell > img {
      margin-left: 15px;
    }
    .value-column {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;  /* Take up the rest of the row */
    }
    .item-value-cell {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 15px;
    }
    .value-bar {
      height: 40px;
      border-radius: 5px;
      background-color: #66023C;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    .subtext {
      font-size: 0.75em;
      color: springgreen;
    }
    </style>
{% endblock head %}
{% block content %}
<h1>Current values for {% if is_eu %}EU-{% endif %}{{realm_name}}</h1>
{% if update_age == -1 %}
<h2>Still waiting on results for this realm.</h2>
{% else %}
<h2>Best investment is currently {{price_rows.0.name}}</h2>
Last updated {{update_age}} minute{% if update_age > 0 %}s{% endif %} ago.
{% endif %}
<hr />
<div class="price-table">
  <div class="item-column">
    {% for price_row in price_rows %}
    <div class="vendor-item-cell">
      <img src="https://render-us.worldofwarcraft.com/icons/56/{{price_row.icon}}.jpg">
      {{price_row.name}} X {{price_row.quantity}}
      {% if price_row.subtext %}
      <br />
      <span class="subtext">{{price_row.subtext}}</span>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="value-column">
    {% for price_row in price_rows %}
    <div class="item-value-cell">
      <div class="value-bar" style="width: {{price_row.value_ratio}}%;"></div>
      {{price_row.gold}}g{{price_row.silver}}s{{price_row.copper}}c
      {% if price_row.subtext %}
      <br />
      <span class="subtext">&nbsp;</span>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
